@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kode Mono";
}

body {
    background-color: rgb(16, 32, 47);
    color: rgb(206, 217, 230);
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 80px; */
}

img {
    width: 32px;
    transition: ease-in-out 300ms;

}


.logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(206, 217, 230);

    font-size: 40px;
    font-weight: 600;
}
.light-dark-mode-icon {
    cursor: pointer;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3vh 30px 0px;

    width: 70vw;
    height: 10vh;

    /* background-color: rgb(8, 14, 20); */
}

.main {
    width: 70vw;
    min-height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding: 7vh 0px 0px 0px;
}

.main-header {
    width: 80%;
}

.main-p-head {
    font-weight: 600;

}

.main-p-content {
    margin: 0;
    width: 80%;
    /* background-color: rgb(42, 42, 42); */
}

.main-icons {
    padding: 20px 20px;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-icon:hover {
    cursor: pointer;
}

.footer {
    width: 70vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sign {
    margin: 0;
}